@keyframes rainbow {
  0% {
    color: hsl(0, 45%, 60%);
  }
  20% {
    color: hsl(90, 45%, 60%);
  }
  40% {
    color: hsl(180, 45%, 60%);
  }
  60% {
    color: hsl(270, 45%, 60%);
  }
  80% {
    color: hsl(360, 45%, 60%);
  }
  85% {
    color: hsl(360, 0%, 60%);
  }
  90% {
    color: hsl(360, 0%, 100%);
  }
  100% {
    color: hsl(360, 0%, 90%);
  }
}
.Letter {
  flex: 1 1;
  font-size: 3em;
  color: white;
  border-radius: 4px;
}

.Letter:hover {
  animation: rainbow 2s;
}

.Letter[spot="1"],
.Letter[spot="2"] {
  text-shadow: 2px 2px 2px hsl(0, 0%, 70%);
}
.Letter[spot="3"] {
  text-shadow: 0px 2px 2px hsl(0, 0%, 70%);
}
.Letter[spot="4"],
.Letter[spot="5"] {
  text-shadow: -2px 2px 2px hsl(0, 0%, 70%);
}
