.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.Tiles {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  height: fit-content;
  border: solid 2px lightseagreen;
}

.Tile {
  height: 100px;
  width: 100px;
  border-radius: 4px;
  border: 2px solid slateblue;
  margin: 2px;
}
